{% extends "avisos/base.html" %}

{% block title %} Avisos {% endblock %}

{% block content %}

<section class="avisos section">
        <h2 class="text-center my-5">Avisos</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2">
                {% for aviso in avisos %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="/media/{{ aviso.imagen }}" class="card-img-top" alt="{{ aviso.titulo}}">
                        <div class="card-body">
                            <h5 class="card-title">{{ aviso.titulo }}</h5>
                            <p class="card-text">{{ aviso.contenido }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ aviso.fecha }}</small>
                            <small class="text-muted">Maestro: {{ aviso.user }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}