{% extends "avisos/base.html" %}

{% block title %} Avisos {% endblock %}

{% block content %}

<section class="avisos section">
        <h2 class="text-center my-5">Avisos</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="https://imgur.com/gYFlrRU.png" class="card-img-top" alt="Imagen del aviso 1">
                        <div class="card-body">
                            <h5 class="card-title">15 de mayo: Asueto</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="https://imgur.com/BMNeAHd.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Plataforma de Inglés</h5>
                            <p class="card-text">A partir del 00/00 la materia de inglés tendrá habilitada la plataforma Fulanita.<br>Informes...</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card text-white bg-info mb-3 h-100">
                        <div class="card-header">Exámenes</div>
                        <div class="card-body">
                            <h5 class="card-title">Del 5 al 10 de junio</h5>
                            <p class="card-text">Español: Lunes 5 de junio.<br>Matemáticas: Martes 6 de junio.<br>Ciencias: Miércoles 7 de junio.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="..." class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}