{% extends "avisos/base.html" %}

{% block title %} Subir Avisos {% endblock %}

{% block content %}

<section class="mi-tarea section">
    <div class="container" style="width: 500px;">
        <h2 class="text-center mt-5">Subir aviso</h2>
        <div class="mini-title text-center">Información para el nuevo aviso</div>

        {% if msg %}
        <div class="alert alert-success text-center" role="alert">
            <h3 class="alert-heading">{{ msg }}</h3>
        </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Título</label>
                <input type="text" name="titulo" requried />
            </div>
            <div class="form-group">
                <label>Contenido</label>
                <textarea class="form-control" rows="3" name="contenido"></textarea>
            </div>
            <div class="form-group mb-3">
                <label>Selecciona la imagen</label>
                <input class="form-control-file" type="file" name="imagen" />
            </div>
            <button type="submit">Enviar</button>
            <a class="button" href="{% url 'avisos' %}">Cancelar</a>
        </form>
    </div>
</section>

{% endblock %}