{% extends "login/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<section class="login section text-center">
    <div class="container" style="width: 400px;">
        <img class="mt-3" src="https://imgur.com/fNKba6L.png" alt="Clover Logo" width:"75" height="75"/>
        <h2 class="text-center">Entrar</h2>
        <div class="mini-title text-center">Por favor ingresa tus datos para entrar</div>
        <form class="form-signin" method="post" style="margin-top:-40px;">
            <div class="row mb-1">
                {% csrf_token %}
                <div class="col">
                    <label>Usuario</label>
                </div>
                <div class="col">
                    <input type="text" name="username" value="" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Contraseña</label>
                </div>
                <div class="col">
                    <input type="password" name="password" value="" required>
                    <!-- Para indicar a que url se redirige después de hacer login -->
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% else %}
                    <input type="hidden" name="next" value="/avisos/" />
                    {% endif %}
                </div>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>

{% endblock %}