{% extends "tareas/base.html" %}

{% block title %} Mis calificaciones {% endblock %}

{% block content %}

<section class="section">
    <div class="container-sm">
        <h2 class="text-center my-5">Mis Calificaciones</h2>
        <div class="box-c">
            <h3 class="clo-textsub">Tema : Calificación</h3>
            {% for t in tareas %}
            <div class="clover-box">
                <div class="clover-alu">
                    <div class="clo-datos">
                        <li class="clo-li3">{{ t.tema }}</li>
                        <li class="clo-num2">{{ t.calificacion }}</li>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}