{% extends "tareas/base.html" %}

{% block title %} Mis calificaciones {% endblock %}

{% block content %}

<section class="section">
    <div class="container-sm" style="width: 800px;">
        <h2 class="text-center my-5">Mis Calificaciones</h2>
        <h3>Tema : Calificación</h3>
        {% for t in tareas %}
        <ul class="list-group list-group-horizontal-sm" style="margin-top:10px; margin-bottom: 10px;">
            <li class="list-group-item">{{ t.tema }}</li>
            <li class="list-group-item w-25">{{ t.calificacion}}</li>
        </ul>
        {% endfor %}

    </div>
</section>

{% endblock %}