{% extends "materias/base.html" %}

{% block title %} Revisar tareas {% endblock %}

{% block content %}

<section class="section">
    <div class="container-sm">
        <h2 class="text-center my-5">Tareas</h2>

        <div class="box-c">
            <h3 class="clo-textsub">Alumno: {{ alumno.first_name }}</h3>
            {% for r in respuestas %}
            <div class="clover-box">
                <div class="clover-alu">
                    <div class="clo-datos">
                        <li class="clo-num"><b>{{ r.id }}</b></li>
                        <li class="clo-li2">{{ r.materia_tarea }}</li>
                        <li class="clo-li2">{{ r.tema }}</li>
                        <li class="clo-num2">{{ r.calificacion }}</li>
                    </div>
                    <div class="clo-botones">
                        <a href="{% url 'calificar' r.id %}" class="button" role="button">Calificar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}