{% extends "tareas/base.html" %}

{% block title %} Subir tarea {% endblock %}

{% block content %}

<section class="mi-tarea section">
    <div class="container" style="width: 500px;">
        <h2 class="text-center mt-5">Nueva tarea</h2>
        <div class="mini-title text-center">Sube aquí la nueva tarea que asignarás</div>

        {% if msg %}
        <div class="alert alert-success text-center" role="alert">
            <h3 class="alert-heading">{{ msg }}</h3>
        </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-1">
                <div class="col">
                    <label>Materia</label>
                </div>
                <div class="col">
                    <select name="materia">
                        {% for materia_obj in materias %}
                        <option value="{{ materia_obj.id }}">{{ materia_obj.materia }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <label>Tema</label>
                </div>
                <div class="col">
                    <input type="text" name="tema" requried />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <label>Límite de entrega</label>
                </div>
                <div class="col">
                    <input type="date" id="fechaLimite" name="fechaLimite" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <label>Comentario</label>
                </div>
                <textarea class="form-control mb-1" rows="3" name="comentario"></textarea>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <input class="form-control-file" type="file" name="archivo" required/>
                </div>
            </div>
            <button type="submit">Enviar</button>
            <a class="btn" href="{% url 'avisos' %}">Cancelar</a>

        </form>
    </div><!--cerrando div container-->
</section>



{% endblock %}