@use 'global' as *;
@use 'global';
h2 {
  color: #b1d182;
  font-family: "Lobster Two", cursive;
  font-size: 60px;
  font-weight: 700;
  transition: color 1s;
}

h2:hover {
  color: #688f4e;
}

.card-body button, button {
  display: inline-block;
  background-color: #688f4e;
  color: #faf1e9;
  border-radius: 10px;
  text-align: center;
  padding: .375rem .75rem;
  font-weight: 400;
  border: none;
}

.mini-title {
  font-size: 10px;
  color: #faf1e9;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body {
  background-color: #2b463c;
  background: linear-gradient(190deg, #607213, #2b463c);
  margin: 0;
}

.jumbotron {
  background-color: #faf1e9;
}

.jumbotron p {
  color: #2b463c;
  letter-spacing: 2px;
}

h1 {
  color: #688f4e;
  font-family: "Lobster Two", cursive;
  font-size: 80px;
  font-weight: 400;
}

h3 {
  color: #faf1e9;
  font-size: 15px;
}

h5 {
  font-size: 30px;
  text-decoration: none;
  color: #688f4e;
}

.mini-title {
  margin-bottom: 50px;
  margin-top: -15px;
}

button {
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #2b463c;
  color: #b1d182;
}

.section {
  padding-bottom: 80px;
}

.menu-materias a {
  text-decoration: none;
}

.menu-materias a .card-img-overlay {
  align-items: center;
}

.button {
  display: inline-block;
  background-color: #688f4e;
  color: #faf1e9;
  border-radius: 10px;
  text-align: center;
  padding: .375rem .75rem;
  font-weight: 400;
  border: none;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.button a {
  text-decoration: none;
}

.box-c {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box-c a {
  color: #faf1e9;
  text-decoration: none;
  transition: 0.5 ease-in-out;
}

.box-c a:hover {
  background-color: #2b463c;
  color: #b1d182;
}

.box-c .clover-box {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box-c .clover-box .clover-alu {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.box-c .clover-box .clover-alu .clo-datos {
  display: flex;
  flex-direction: row;
}

.box-c .clover-box .clover-alu .clo-datos .clo-li {
  width: 270px;
  height: 36px;
  padding: 5px;
  display: inline-block;
  list-style-type: none;
  background-color: #faf1e9;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: #212529;
}

.box-c .clover-box .clover-alu .clo-datos .clo-li2 {
  width: 220px;
  height: 36px;
  padding: 5px;
  display: inline-block;
  list-style-type: none;
  background-color: #faf1e9;
  color: #212529;
}

.box-c .clover-box .clover-alu .clo-datos .clo-li3 {
  width: 200px;
  height: 36px;
  padding: 5px;
  color: #212529;
  display: inline-block;
  list-style-type: none;
  background-color: #faf1e9;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.box-c .clover-box .clover-alu .clo-datos .clo-num {
  height: 36px;
  width: 40px;
  padding: 5px 10px;
  display: inline-block;
  list-style-type: none;
  background-color: #faf1e9;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  color: #212529;
}

.box-c .clover-box .clover-alu .clo-datos .clo-num2 {
  height: 36px;
  width: 60px;
  padding: 5px 10px;
  display: inline-block;
  list-style-type: none;
  background-color: #faf1e9;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  color: #212529;
}

.box-c .clover-box .clover-alu .clo-botones a {
  background-color: #688f4e;
  color: #faf1e9;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  font-weight: 400;
  border: none;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.box-c .clover-box .clover-alu .clo-botones a:hover {
  background-color: #2b463c;
  color: #b1d182;
}

@media (max-width: 426px) {
  .main {
    margin-top: 60px;
  }
  section .menu-materias .container .botoncito {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .box-c .clover-box .clover-alu .clo-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-c .clover-box .clover-alu .clo-datos .clo-num {
    width: 220px;
    margin-top: 15px;
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .box-c .clover-box .clover-alu .clo-datos .clo-num2 {
    width: 220px;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .box-c .clover-box .clover-alu .clo-datos .clo-li {
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .box-c .clover-box .clover-alu .clo-datos .clo-li3 {
    width: 220px;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}

.nav-link {
  background-color: #343a40;
}

.menu-materias {
  padding-bottom: 80px;
}

.menu-materias img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

label {
  color: #b1d182;
}

small {
  color: #faf1e9;
}

.form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.lista_alumnos .lista2 {
  max-width: 800px;
}

.lista_alumnos .lista2 .col {
  border: 1px solid #688f4e;
}

.project-charter {
  width: 800px;
  height: 800px;
}

.card-clover {
  width: 600px;
  height: 400px;
  background-color: #faf1e9;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  border-radius: 10px;
}

/*Collapsible*/
.desplegable {
  background-color: #688f4e;
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  overflow: hidden;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
}

.active, .desplegable:hover {
  background-color: #faf1e9;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  border-radius: 0 0 10px 10px;
}

.content p {
  text-align: justify;
  padding: 10px;
}

#charter {
  padding: 50px 300px;
}

.botoncito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 50px;
}

.botoncito a {
  width: 200px;
  height: 200px;
  background-image: url("https://imgur.com/uNTrhKK.png");
  box-shadow: 4px 4px 5px #faf1e9;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in;
}

.botoncito a span {
  color: #faf1e9;
  margin: auto;
  transition: 0.5s ease-in;
}

.botoncito a:hover {
  background-color: #2b463c;
}

.botoncito a:hover span {
  text-decoration: none;
  color: #607213;
}

.lista {
  background-color: #faf1e9;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 80px;
}

.tHead {
  background-color: #607213;
  color: #212529;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.colName {
  border: 1px solid #688f4e;
}

.datoTable {
  font-size: 12px;
  border: 1px solid #688f4e;
  padding: 10px;
}

.clo-text1 {
  color: #212529;
}

.clo-textsub {
  text-transform: uppercase;
  font-weight: 700;
}

.card-body button {
  transition: 0.5s ease-in-out;
}

.card-body button:hover {
  background-color: #2b463c;
  color: #b1d182;
}
