{% extends "usuarios/base.html" %}

{% block title %} Lista de alumnos {% endblock %}

{% block content %}

<section class="section">
    <div class="container-sm">
        <h2 class="text-center my-5">Lista de alumnos</h2>

        {% if msg %}
            <div class="alert alert-success text-center" role="alert">
                <h3 class="alert-heading">{{ msg }}</h3>
            </div>
        {% endif %}

        <div class="box-c">
            {% for alumno in grupo %}
            <div class="clover-box">
                <div class="clover-alu">
                    <div class="clo-datos">
                        <li class="clo-num">{{ alumno.id }}</li>
                        <li class="clo-li">{{ alumno.first_name }} {{ alumno.last_name }}</li>
                    </div>
                    <div class="clo-botones">
                        <a href="{% url 'revisar_tareas' alumno.id %}" class="button" role="button">Tareas</a>
                        <a href="{% url 'editar_alumno' alumno.id %}" class="button" role="button">Editar</a>
                        <a href="{% url 'eliminar_alumno' alumno.id %}" class="button" role="button">Eliminar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}