{% extends "materias/base.html" %}

{% block title %} Desafíos Matemáticos {% endblock %}

{% block content %}

<section class="section">
    <div class="container-sm">
        <h2 class="text-center my-5">Tareas de Desafíos Matemáticos</h2>
        <div class="box-c">
            <h3 class="clo-textsub" style="text-align:left;">Tema de la tarea : Fecha de entrega</h3>
            {% for tarea in tarea_cn %}
            <div class="clover-box">
                <div class="clover-alu">
                    <div class="clo-datos">
                        <li class="clo-li3">{{ tarea.tema }}</li>
                        <li class="clo-li">{{ tarea.fechaLimite }}</li>
                    </div>
                    <div class="clo-botones">
                        <a href="{% url 'respuesta' tarea.id %}" class="button" role="button">Ver tarea</a>
                        {% if es_maestro %}
                        <a href="{% url 'editar' tarea.id %}" class="button" role="button">Editar</a>
                        <a href="{% url 'eliminar' tarea.id %}" class="button" role="button">Eliminar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}