{% extends "materias/base.html" %}

{% block title %} Editar tarea {% endblock %}

{% block content %}

<section class="mi-tarea section">
    <div class="container" style="width: 500px;">
        {% if msg %}
        <p>
            {{ msg }}
        </p>
        {% endif %}

        <h2 class="text-center my-5">Editor de tarea</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Tema</label>
                <input type="text" name="tema" value="{{ tarea_obj.tema }}" requried />
            </div>
            <div class="form-group">
                <label>Comentario</label>
                <textarea class="form-control" rows="3" name="comentario" value="{{ tarea_obj.comentario }}">{{ tarea_obj.comentario }}</textarea>
            </div>
            <div class="form-group">
                <label>Entregar: {{ tarea_obj.fechaLimite}}</label>
                <input type="date" id="fechaLimite" name="fechaLimite" value="{{ tarea_obj.fechaLimite }}"/>
            </div>
            <div class="form-group">
                <label>Materia</label>
                <select name="materia">
                    {% for m in materias %}
                    <option value="{{ m.id }}"
                    {% if tarea_obj.materia_tarea == m %}
                    selected
                    {% endif %}
                    >{{ m.materia }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Archivo actual: {{ tarea_obj.archivo}}</label>
                <input class="form-control-file" type="file" name="archivo"value="{{ tarea_obj.archivo }}"required/>
            </div>
            <button type="submit">Enviar</button>
            <a class="btn" href="{% url 'avisos' %}">Cancelar</a>
        </form>
    </div><!--cerrando div container-->
</section>
{% endblock %}
