{% extends "materias/base.html" %}

{% block title %} Subir tarea {% endblock %}

{% block content %}

<section class="mi-tarea section">
    <div class="container-sm">
        <h2 class="text-center my-5">Tareas de Ciencias Naturales</h2>
        <h3>Tema de la tarea : Fecha de asignación : Fecha de entrega</h3>
        {% for tarea in tarea_cn %}
        <ul class="list-group list-group-horizontal" style="margin-top:10px; margin-bottom: 10px;">
            <li class="list-group-item">{{ tarea.tema }}</li>
            <li class="list-group-item">{{ tarea.fecha }}</li>
            <li class="list-group-item" style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;">{{ tarea.fechaLimite }}</li>
            <a href="{% url 'respuesta' tarea.id %}" class="btn btn-success btn-lg ml-2" role="button">Ver tarea</a>
            {% if es_maestro %}
            <a href="{% url 'editar' tarea.id %}" class="btn btn-success btn-lg ml-2" role="button">Editar</a>
            <a href="{% url 'eliminar' tarea.id %}" class="btn btn-success btn-lg ml-2" role="button">Eliminar</a>
            {% endif %}

        </ul>
        {% endfor %}
    </div>
</section>

{% endblock %}