{% extends "materias/base.html" %}

{% block title %} Materias {% endblock %}

{% block content %}

<section class="menu-materias section">
    <div class="container">
        <h2 class="text-center my-3">Materias</h2>
        <div class="botoncito">
            <button><a id="btn-link" class="btn-link" href="{% url 'lengua_materna' %}">Lengua materna</a></button>
            <button><a id="btn-link" class="btn-link" href="{% url 'desafios_matematicos' %}">Desafíos matemáticos</a></button>
            <button><a id="btn-link" class="btn-link" href="{% url 'ciencias_naturales' %}">Ciencias Naturales</a></button>
            <button><a id="btn-link" class="btn-link" href="{% url 'educacion_civica' %}">Educación cívica y ética</a></button>
            <button><a id="btn-link" class="btn-link" href="{% url 'jalisco' %}">Jalisco</a></button>
            <button><a id="btn-link" class="btn-link" href="{% url 'ingles' %}">Inglés</a></button>
        </div>
    </div>
</section>

{% endblock %}
