{% extends "materias/base.html" %}

{% block title %} Materias {% endblock %}

{% block content %}

<section class="menu-materias">
    <div class="container">
        <h2 class="text-center my-3">Materias</h2>
        <div class="botoncito">
            <a class="button" role="button" href="{% url 'lengua_materna' %}"><span>Lengua materna</span></a>
            <a class="button" role="button" href="{% url 'desafios_matematicos' %}"><span>Desafíos matemáticos</span></a>
            <a class="button" role="button" href="{% url 'ciencias_naturales' %}"><span>Ciencias Naturales</span></a>
            <a class="button" role="button" href="{% url 'educacion_civica' %}"><span>Educación cívica y ética</span></a>
            <a class="button" role="button" href="{% url 'jalisco' %}"><span>Jalisco</span></a>
            <a class="button" role="button" href="{% url 'ingles' %}"><span>Inglés</span></a>
        </div>
    </div>
</section>

{% endblock %}
