{% extends "materias/base.html" %}

{% block title %} Lista de alumnos {% endblock %}

{% block content %}
<section class="menu-materias section">
    <div class="container">
        <h2 class="text-center my-3">Tus materias</h2>
        <div class="botoncito">
            <button><a id="btn-link" class="btn-link" href="lengua_materna/">Lengua materna</a></button>
            <button><a id="btn-link" class="btn-link" href="desafios_matematicos/">Desafíos matemáticos</a></button>
            <button><a id="btn-link" class="btn-link" href="ciencias_naturales/">Ciencias Naturales</a></button>
            <button><a id="btn-link" class="btn-link" href="educacion_civica/">Educación cívica y ética</a></button>
            <button><a id="btn-link" class="btn-link" href="jalisco/">Jalisco</a></button>
            <button><a id="btn-link" class="btn-link" href="ingles/">Inglés</a></button>
        </div>
    </div>
</section>


{% endblock %}
